.profileBar {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background-color: #5EBCD7;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.profileBar:hover {
    background-color: #92CFE0;
}

.profileBar .icon {
    background: none;
    margin-right: 10px;
    font-size: 18px;
}

.profileOptions .dropdown {
    margin: 0px;
    padding: 0px;
}

.profileOptions .btn-primary, .profileOptions .btn-primary:focus {
    background: transparent;
    border: none;
    color: #1f252d;
    box-shadow: none;
}

.show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus {
    background: transparent;
    border: none;
    color: #1f252d;
    box-shadow: none;
}

.profileOptions .dropdown-toggle::after {
    display: none;
}

.profileOptions .dropdown-menu {
    background-color: rgb(191 219 254);
    height: fit-content;
    min-width: 100px;
    max-height: 200px;
    padding: 5px;
    margin-left: -50px;
}

.profileOptions .dropdown-item {
    font-size: 14px;
    color: #374151;
    border-radius: 5px;
    padding: 5px;
}

.profileOptions .dropdown-item .icon {
    font-size: 14px;
    margin-right: 10px;
    background-color: transparent;
}

.profileOptions .dropdown-item:hover {
    background-color: rgb(96 165 250);
    color: #ffffff;
}
