.profileModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;

    border: 2px solid #1f252d;
    border-radius: 10px;
}

.profileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 244, 246, 0.8);
}

.profileDialogContainer {
    width: 350px;
    height: 460px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    background-color: white;
    border-radius: 10px;
}

.appTitle {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.profileFormLabel {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
    color: #1f252d;
    display: block;
    font-weight: 600;
}

.inputProfileInfo {
    width: 250px;
    height: 6px;
    border-radius: 3px;
    margin-top: 3px;
    outline: 1.5px solid #1f252d;
    background-color: #f1f1f6;
    display: block;
    margin-left: 0px;
    padding: 18px;
}

.inputProfileInfo:focus {
    outline: 3px solid #1f252d;
}

.submitButton {
    width: 250px;
    height: 36px;
    background-color: rgb(191 219 254);
    color: #374151;
    font-weight: 800;
    border-radius: 3px;
    font-size: 14px;
    margin: 10px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(96 165 250);
}

.dialogSwitchButtonContainer {
    text-align: center;
    margin-bottom: 100px;
}

.promptText {
    font-size: 13px;
    display: inline-block;
    color: #1f252d;
}

.dialogSwitchButton {
    display: inline-block;
    font-size: 13px;
    color: #1f252d;
    font-weight: bold;
}

.dialogSwitchButton:hover {
    transform: scale(1.2);
}

.profileDialogContainer .error {
    font-size: 12px;
    color: #ff0033;
    margin-top: 5px;
    margin-bottom: 0px;
    height: 20px;
    display: block;
    text-align: right;
}
