.profileBar {
    width: 110px;
    height: 35px;
    border-radius: 18px;
    background-color: rgb(191 219 254);
    font-size: 13px;
    font-weight: 700;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.profileBar:hover {
    background-color: rgb(96 165 250);
}

.profileBar .icon {
    background: none;
    margin-right: 10px;
    font-size: 20px;
}

.profileOptions .dropdown {
    margin: 0px;
    padding: 0px;
}

.profileOptions .btn-primary {
    background: transparent;
    border: none;
    color: #1f252d;
}

.profileOptions .dropdown-toggle::after {
    display: none;
}

.profileOptions .dropdown-menu {
    background-color: rgb(191 219 254);
    height: fit-content;
    min-width: 100px;
    max-height: 200px;
    padding: 5px;
    margin-left: -50px;
}

.profileOptions .dropdown-item {
    font-size: 14px;
    color: #374151;
    border-radius: 5px;
    padding: 5px;
}

.profileOptions .dropdown-item .icon {
    font-size: 14px;
    margin-right: 10px;
    background-color: transparent;
}

.profileOptions .dropdown-item:hover {
    background-color: rgb(96 165 250);
    color: #ffffff;
}
