.TutorProfile .button {
    background-color: rgb(191 219 254);
    padding: 10px 30px;
    width: fit-content;
    margin: 5px;
    border-radius: 8px;
    font-size: 15px;
}

.TutorProfile .button:hover {
    background-color: rgb(96 165 250);
}

.TutorProfile .card-body {
    border: 2px solid #1f252d;
    border-radius: 10px;
}